body {
    padding-top: 54px;
    padding-top: 54px;
    background-color: lightslategray;
}
   
#dog-book-container,  #dog-gallery-container {
    background: url( assets/13-Corkboard.jpg) repeat scroll 0 0;
}
       
/* #dog-book-container .img-responsive { */
#dog-book-container .card-img-top {
    display: block;
}

.opacity-50 {
    opacity: 50%;
}

.jumbotron {
    background: url(assets/dog\ Foot\ Print.jpg) repeat scroll 0 0;
    background-size: 70px;
}

.card-img-bottom {
    width: 20%;
}

.img-box {
    border-radius: 10px;  /* Rounded border */
    /* max-width: 100%; Set a small width */
    /* max-height: 100%;  */
    background: url(assets/placeholder.jpg) no-repeat scroll 0 0;
}

/* Add a hover effect (blue shadow) */
.img-box:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

nav > ul {
    background-color: darkblue;
    /* list-style-type: none; */
    font-size: 1.4vw;
    list-style-image: url('assets/list-icon.png');
    padding-left: 10px;
}

.side-bar-li {
    /* text-decoration: none;
    width: 100%; */
    margin-left: 25px;
} 

.side-bar-li:hover {
    background-color: blueviolet;
}

.mt-100 {
    margin-top: 145px;
}

.base {
    position : relative;
}

.thumbtack {
    position: absolute;
    top: -5%;
    left: 35%;
    width: 44px;
    z-index : 100;
    /* opacity: 50%; */
}

@media screen and (max-width: 600px) {
    nav > ul {
        font-size:4vw;
    }
    
  }