body {
    padding-top: 54px;
    padding-top: 54px;
    background-color: lightslategray;
}
   

.jumbotron {
    background: url(assets/dog\ Foot\ Print.jpg) repeat scroll 0 0;
    background-size: 70px;
}

.card-img-bottom {
    width: 20%;
}

.img-box {
    border-radius: 10px;  /* Rounded border */
    max-width: 100%; /* Set a small width */
    max-height: 100%; 
    background: url(assets/placeholder.jpg) no-repeat scroll 0 0;
}

/* Add a hover effect (blue shadow) */
.img-box:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

nav > ul {
    background-color: darkblue;
    list-style-type: none;
    font-size: 1.2vw;
}

.side-bar-link {
    text-decoration: none;
    width: 100%;
    margin-left: 0;
} 

/* .side-bar-link > a:hover {
    background-color: rgb(177, 223, 53);
} */

.side-bar-link:hover {
    background-color: blueviolet;
}

.mt-100 {
    margin-top: 145px;
}

@media screen and (max-width: 600px) {
    nav > ul {
        font-size: 3vw;
    }
    
  }