<div class="container-fluid" id="dog-cook-container">
    <div class="row">
        <div class="col-sm-2">
            <nav>
                <ul class="d-block">
                    <div ng-repeat="dog in dogsArr | filter : dogFilter">
                        <li ng-class="{ 'mt-100': $first, 'mt-2': !$first }" class="side-bar-link d-block">
                            <a class="d-inline-block" href="javascript:void(0)" target="_blank" ng-click="showGalleryOfDog(dog)">{{dog.breed}}</a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10 mb-5">
            <div class="row">
                <h1 class="my-4 text-center text-lg-left">All Breeds Gallery</h1>
                <div class="input-group mb-5 mt-5 w-100">
                    <input type="text" class="bg-success text-white form-control" placeholder="Search a dog in Gallery" ng-model="aFilter">
                    <button type="button" class="btn btn-info w-100" ng-click="refreshGalleryPics()">Choose another pics for all</button>
                </div>


                <div class="col-lg-3 col-md-4 col-xs-6 mb-1" ng-repeat="dog in dogsArr | filter : dogFilter ">
                    <div class="text-center text-lg-left">
                        <div class="card ml-1 mt-3">
                            <!-- text on top of pic -->
                            <!-- <div class="card-body text-center">
                                <h3>{{dog.breed}}</h3>
                            </div> -->
                            <a href="javascript:void(0)" class="img-thumbnail">
                                <!-- <img class="img-responsive img-box" ng-click="showGalleryOfDog(dog)" ng-src="{{dog.randomPic}}" class="card-img-bottom"> -->
                                <img class="card-img-top img-fluid" ng-click="showGalleryOfDog(dog)" ng-src="{{dog.randomPic}}" class="card-img-bottom">
                            </a>
                            <!-- text under pic -->
                            <div class="card-block text-center">
                                <h5 class="card-text">{{dog.breed}}</h5>
                            </div>
                            <!-- text on pics -->
                            <!-- <div class="carousel-caption">
                                    <h5 class="bg-info text-white opacity-50 ">{{dog.breed}}</h5>
                                </div> -->
                        </div>
                    </div>
                </div>ז
            </div>
        </div>
    </div>